
body {
  background:rgb(184, 176, 176);
}
.bottom{
  display:flex;
  align-content: center;
  margin-left: 40px;
 
}
.bottom-layer{
 color: blue;
}
.card-top span{
  margin-top: 2px 5px;
  font-weight: 600;
  font-size: 130%;

}
.slick-slide {
  margin: 10 20px;
}
.slick-list {
  margin: 2px -10px;
}
.App{
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
}
.arrowImage{
  height: 15px;
  display:flex;
  align-content:center;
  
}
.bottom span{
  margin-left: 30px;
}
img:hover{
  box-shadow: 2px 2px 2px 2px;
}
.search-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
input{
  font-size: 16px;
  margin-left: 70px;
  outline: none;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

 